body{
    height: 1300px;
}
.container{
    display: flex;
    gap:10px;
    justify-content: center;
    border: 2px solid black;
    /* position:sticky; */
    height: 600px;
    /* top:0; */
}

.box1{
    width:200px;
    height: 200px;
    background-color: aqua;
    /* position:static;
    left:50px; */
    position:sticky;
    top:50px;
}

.box2{
    width:200px;
    height: 200px;
    background-color: rgb(214, 148, 15);
    /* position:relative; */
    /* top:50px; */

}
.box3{
    width:200px;
    height: 200px;
    /* position:absolute; */
    background-color: rgb(162, 11, 212);
}
.box4{
    width:200px;
    height: 200px;
    background-color: rgb(63, 207, 55);
}

.box{
    border: 2px solid black;
    position: relative;
}

#id1{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin: 5px;
}

#id2{
    width: 100px;
    height: 100px;
    margin: 5px;
    position:absolute;
    background-color: rgb(163, 229, 10);
}