body{
    height: 1300px;
}
.container{
border:2px solid black;
display: flex;
gap:20px;
justify-content: center;
}
.box1{
    width:200px;
    height: 200px;
    background-color: rgb(255, 73, 7);
    /* position: static;
    top:50px; */
}
.box2{
    width:200px;
    height: 200px;
    background-color: rgb(255, 222, 6);
    position: absolute;
    /* top:50px; */
}
.box3{
    width:200px;
    height: 200px;
    background-color: rgb(193, 127, 255);
    /* position: fixed;
    bottom:0;
    right:0; */
    /* top:50px; */
}
.box4{
    width:200px;
    height: 200px;
    background-color: rgb(20, 221, 54);
}

.sticky{
    background-color:yellowgreen;
    position:sticky;
    top:0;
}